
@{
    ViewBag.Title = "Winner";
}

@if (@Request.QueryString["name"] == null)
{
    <h2>GRATZ!!! DRAW!!!</h2>
}
else
{
    <h2>GRATZ!!! @Request.QueryString["name"].ToString() - you are the Winner!!!</h2>
}
@Html.ActionLink("Continue To Play", "Game", new { firstPlayerName = Request.QueryString["firstPlayerName"].ToString(), secondPlayerName = Request.QueryString["secondPlayerName"].ToString() }, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("New Game", "Index", null, new { @class = "btn btn-primary btn-lg" })

